:root {
  --ing-height-navbar: 80px;

  --ing-width-sidebar: 9rem;
  --ing-width-areaControl: 56px;

  --ing-borderRadius-sm:0.5em;
  --ing-borderRadius-md: 1em;
  --ing-borderRadius-lg: 2em;
}


body{
  margin:0;
  background: radial-gradient(circle, var(--ing-palette-common-background) 35%, var(--ing-palette-common-white) 100%);
}