:root {
  --ing-height-navbar: 80px;
  --ing-height-profile-cover: 125px;
  --ing-height-profile-avatar: 5rem;
  --ing-height-area-control: 180px;
  --ing-height-user-route: calc(100vh - var(--ing-height-navbar));
  --ing-height-user-header: 2em;
  --ing-height-user-inner: calc(var(--ing-height-user-route) - var(--ing-height-user-header) - 32px);

  --ing-width-sidebar: 9rem;
  --ing-width-area-control: 56px;

  --ing-borderRadius-sm:0.5em;
  --ing-borderRadius-md: 1em;
  --ing-borderRadius-lg: 2em;
}


body{
  margin:0;
  background: radial-gradient(circle, var(--ing-palette-common-background) 35%, var(--ing-palette-common-white) 100%);
}

:focus-visible{
  outline: none;
}